{:deps    {org.bdinetwork/clj-ishare-client {:git/url "https://github.com/Basic-Data-Infrastructure/clj-ishare-client"
                                             :git/sha "a6d4a422a8bb72ca41453c4c6f855553d4cb538e"}
           org.bdinetwork/clj-ishare-jwt    {:git/url "https://github.com/Basic-Data-Infrastructure/clj-ishare-jwt.git"
                                             :git/sha "65ed4c07333994faf98a6e6309800338c3577d4c"}
           nl.jomco/openapi-v3-validator    {:mvn/version "0.2.1"}
           nl.jomco/clj-http-status-codes   {:mvn/version "0.1"}
           clj-commons/clj-yaml             {:mvn/version "1.0.27"}
           org.clojure/core.cache           {:mvn/version "1.1.234"}
           org.clojure/tools.logging        {:mvn/version "1.3.0"}}
 :paths   ["src" "resources"]
 :aliases {:dev      {:extra-paths ["test" "dev"]}
           :test     {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "kaocha.runner"]}
           :lint     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
           :outdated {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts    ["-m" "antq.core"]}}}
